.galery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    padding: 20px;
    grid-gap: 10px;
  }
  
  .item {
    position: relative;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .title {
    position: absolute;
    bottom: 0;
    color: antiquewhite;
    background: none;
    width: 100%;
    margin: 0;
  }

  .item:nth-child(4) {
    grid-column-start: span 2;
  }
  
  .item:nth-child(5) {
    grid-column-start: span 2;
  }
  
  @media (min-widt: 700px) {
    .galery_container {
      grid-template-columns: repeat(5, 1fr);
      width: 30%;
      margin: auto;
    }
    .item:nth-child(3) {
      grid-column-start: span 2;
      grid-row-start: span 2;
    }
  }
  